@use "_variables.scss" as *;

// Functional classes
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

// Spacing classes
.mg-tb-1 {
    margin: 1rem 0;
}

.mg-tb-4 {
    margin: 4rem 0;
}

// Styling font classes
* {
    @include fuente("parrafo");
}

h1 {
    @include fuente("titulo_principal");
    margin: 0;
}

h2 {
    @include fuente("titulo_secundario");
}

h3 {
    @include fuente("parrafo_max");
}

p,
li,
a {
    @include fuente("parrafo");
}

ul {
    list-style: none;
}

.span__corteclick {
    @include fuente("span_corteclick");
    color: map-get($colores, "naranja");
    margin-right: 2.5px;
}

.glass-effect {
    background: rgba(177, 177, 177, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.loading {
    font-weight: bold;
    color: transparent;
    /* El texto inicial es transparente */
    background: linear-gradient(90deg, map-get($colores, 'gris_claro') 0%, map-get($colores, 'azul_oscuro') 50%, map-get($colores, 'gris_claro') 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: reveal-color 3s linear forwards;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 5px 16px;
    font-weight: bold;
    cursor: pointer;
    @include fuente("parrafo");

    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 3px rgba(71, 71, 71, 0.3);
    }
}

.btn-confirm {
    background-color: #4CAF50;
    color: map-get($colores, 'blanco');

    &:hover {
        background-color: #45a049;
    }
}

.btn-cancel {
    background-color: #f44336;
    color: map-get($colores, 'blanco');

    &:hover {
        background-color: #da190b;
    }
}

.btn-edit {
    background-color: map-get($colores, 'naranja');
    color: map-get($colores, 'blanco');

    &:hover {
        background-color: map-get($colores, 'naranja_oscuro');
    }
}

@keyframes reveal-color {
    0% {
        background-position: 200% 0;
        /* El fondo está completamente a la derecha */
    }

    100% {
        background-position: 0 0;
        /* El fondo se mueve completamente a la izquierda */
    }
}

// Mixins
@mixin responsive-layout($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}