// Variables de la guía de estilos

$colores: (
    "blanco": #f5f5f5,
    "gris_claro": #e5e5e5,
    "gris_oscuro": #565656,
    "azul_oscuro": #222831,
    "naranja": #fca311,
    "rojo": #d13444,
    "verde": #289e2e,
);

$fuentes: (
    "logo": (
        "family": "Dancing Script",
        "size": 40px,
        "style": italic,
    ),
    "span_corteclick": (
        "family": "Dancing Script",
        "size": 24px,
        "style": italic,
    ),
    "titulo_principal": (
        "family": "Montserrat",
        "size": 26px,
        "weight": 600,
    ),
    "titulo_secundario": (
        "family": "Montserrat Alternates",
        "size": 18px,
        "weight": 600,
    ),
    "parrafo": (
        "family": "Montserrat Alternates",
        "size": 14px,
    ),
    "parrafo_max": (
        "family": "Montserrat Alternates",
        "size": 16px,
        "weight": 500,
    ),
);

// Mixin para aplicar la fuente
@mixin fuente($nombre-fuente) {
    $fuente: map-get($fuentes, $nombre-fuente) ;

    @if $fuente {
        @if map-has-key($fuente, "family") {
            font-family: map-get($fuente, "family") !important;
        }
        @if map-has-key($fuente, "size") {
            font-size: map-get($fuente, "size") !important;
        }
        @if map-has-key($fuente, "style") {
            font-style: map-get($fuente, "style") !important;
        }
        @if map-has-key($fuente, "weight") {
            font-weight: map-get($fuente, "weight") !important;
        }
    } @else {
        @warn "La fuente '#{$nombre-fuente}' no está definida en el mapa $fuentes.";
    }
}

// Uso del mixin
// h1 {
//     @include fuente("titulo_principal");
// }
